<h2 mat-dialog-title>About author</h2>
<mat-dialog-content>
  <table id="author-table">
    <tr>
      <td>
        <img alt="Henry Zhu" width="100px" height="100px"
    src="https://media.licdn.com/dms/image/v2/D4E35AQFFYYwqhTtZvw/profile-framedphoto-shrink_400_400/B4EZaRp3FyHIAg-/0/1746200392299?e=1748142000&v=beta&t=AK1kzx4RsOEzgFpUjq9-TAemRzMdjPyzJxvqJGUK2lg">
      </td>
      <td>
        <div>Linkedin: 
          <a href="https://www.linkedin.com/in/henry-zhu-ab5651b/">
            https://www.linkedin.com/in/henry-zhu-ab5651b/
          </a>
        </div>
      </td>
    </tr>
  </table>
  <div id="content">    
    
  </div>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close cdkFocusInitial class="standard">OK</button>
</mat-dialog-actions>